
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

.truckBody {
    width: 130px;
    height: fit-content;
    margin-bottom: 6px;
    animation: motion 1s linear infinite;
  }
 
  @keyframes motion {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .truckTires {
    width: 130px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    position: absolute;
    bottom: 0;
  }
  .truckTires svg {
    width: 24px;
  }
  
  .road {
    width: 100%;
    height: 1.5px;
    background-color: #282828;
    position: relative;
    bottom: 0;
    align-self: flex-end;
    border-radius: 3px;
  }
  .road::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #282828;
    right: -50%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 10px solid white;
  }
  .road::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #282828;
    right: -65%;
    border-radius: 3px;
    animation: roadAnimation 1.4s linear infinite;
    border-left: 4px solid white;
  }
  
  .lampPost {
    position: absolute;
    bottom: 0;
    right: -90%;
    height: 90px;
    animation: roadAnimation 1.4s linear infinite;
  }



  
  @keyframes roadAnimation {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-350px);
    }
  }


.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  background: #f1f1f1;
  background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
}


.card-questions {
  width: 90%; 
  max-width: 520px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-questions .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columns {
  width: 100%; 
  max-width: 32em;
  border-radius: 20px;
  padding: 35px;
  border: 2px solid black;
  position: relative;
  transition: all 0.4s;
}

.columns:hover {
  box-shadow: 4px 4px 0 1px rgba(0,0,0);
}

.instructions {
  font-size: 0.9rem;
  color: #000000;
  text-align: left;
}

.instructions li {
  margin-bottom: 8px;
}


.btn {
  padding: 7px 15px;
  border: 1px solid black;
  background-color: orange;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.5rem;
}

.columns:hover .btn {
  box-shadow: 4px 4px 0 1px rgba(0,0,0);
}

.secondary-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.welcome-title {
  font-size: 1.5rem;
  font-weight: bold;
  color:orange;
  margin-bottom: 10px;
}

.name label {
  font-weight: bold;
  color: #333;
}

input.form-control {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer-container {
  margin-top: 40px;
  text-align: center;
  font-size: 11px;
  color: #555;
  line-height: 1rem;
}

.footer-text a {
  color: orange;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.list-intructions {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 0.8rem;
  line-height: 1rem;
}