
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card-questions">
    <div class="card columns">    
  
      <p class="offer">Bienvenido/a user</p>
      <p class="secondary-heading">
        "As a UX designer,you will design the entire UI."
      </p>
      <p class="card-description">Verify alignment of job description with proposed position.<br>      
      </p>
   
      <div class="button-container">
        <button class="btn red-flag">Siguiente</button>
       
      </div>
    </div>
    
    </div>  
    
  </div>
