
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card-questions">
    <div class="card columns">    
  
      <p class="offer">Bienvenido/a user</p>
      <div class="secondary-heading">
        <div class="score">
        <h5>Pregunta 1 / 108</h5>
        </div>
        <div class="card-description question-remain">
          <span>108 Puntos</span>
        </div>     
      </div>
     
   
      <div class="button-container">
        <button class="btn red-flag">Siguiente</button>
       
      </div>
    </div>
    
    </div>  
    
  </div>
